body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

a img {
    transition: transform 0.2s;
}

a img:hover {
    transform: scale(1.1);
}
